
.app {
  
}

Button {
  background-color: #2324c6;
  color: #ebeaf3;
  height: auto;
  width: 100%;
  border: 1px solid #ebeaf3;
  border-radius: 3em;
  padding: 0.2em;
}

Button:focus{
  color: #2324c6;
  background-color: #ebeaf3;
}

Button:visited{
  color: #2324c6;
  background-color: #ebeaf3;
}
.three-grid{
  
  background-color: #30afff;
 /*
  display: grid;
  grid-template-columns: 30% 30% 30%;
  */
  margin: auto;
  width: 40%;
  height: auto;
  padding: 2em;
}

.footer{
  margin: auto;
  background-color: #2324c6;

}
.button-wrapper{
  position: fixed;
  top: 10em;
  bottom: 15em;
  right:0em;
 margin: auto;
 background-color: #2324c6;
 
}
.title{
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  height: 5em;
  text-align: center;
  background-color: #2324c6;
  border-bottom: 10px solid #98979e;
  padding: 1em;

}
.title-text{
  width: 80%;
  color: #ebeaf3;
}
main{
  display: flex;
}

.content{
  position: fixed;
  top: 5em;
  bottom: 15em;
  padding: 1em;
  padding-bottom: 15em;
  padding-top: 5em;
  z-index: -1;
  margin: auto;
  width: 60%;
  height: calc(100%- 20em);
  text-align: justify;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

