.test-small{
   
 
  
   padding: 2em;
  
}


.test-large{
   

   
    padding: 2em;
    

}


.test-container{
    display:block;
    padding: 1em;
    
}

.test-pic{
    width: 100%;
    height: auto;
    min-width: 300px;
}