.test-small{
    width: 35%;
 
    background-color: #e30062;
   padding: 2em;
  
}


.test-large{
    width: 65%;

    background-color: #399b52;
    padding: 2em;
    

}


.test-container{
    display:flex;
    padding: 1em;
    
}

.test-pic{
    width: 100%;
    height: auto;
}