.test-small{
    width: 35%;
 
  
   padding: 2em;
  
}


.test-large{
    width: 65%;

   
    padding: 2em;
    

}


.test-container{
    display:flex;
    padding: 1em;
    
}

.test-pic{
    width: 100%;
    height: auto;
    min-width: 300px;
}