*{
  box-sizing: border-box;
}
body {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 6pt;
  background-color: #232427;
  padding: 5em;
}

h2{
  color: #5500a8;
}

a{
  color: darkblue;
  

}
	
  